<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.prorefactor.refactor"
   name="ProRefactor Refactorings"
   version="1.2.4"
   provider-name="ProRefactor.org"
   >

   <runtime>
      <library name="refactor.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.prorefactor.core" export="true"/>
      <import plugin="org.eclipse.swt" export="true"/>
      <import plugin="org.eclipse.jface" export="true"/>
      <import plugin="org.eclipse.jface.text" export="true"/>
   </requires>

</plugin>
