<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.prorefactor.antlr"
   name="Antlr"
   version="2.7.5"
   provider-name="antlr.org via prorefactor.org">

   <runtime>
      <library name="antlr.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
